body {
    font-family: "Roboto", sans-serif;
    background-color: #FAFAFA;
}

#topLogo {
    padding: 1%;
    max-height: 7vh;
}

.searchBtnText {
    /*letter-spacing: 1px;*/
    color: white;
    text-transform: uppercase;
    padding: 0.5vh 2vh;
}

.navbar-toggler:focus {
    outline: none;
}

.searchBtnText:hover, .active > .searchBtnText {
    padding: 0.5vh 2vh;
    background-color: #4e51bf !important;
    border-radius: 1em;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #4e51bf !important;
}

h2 {
    font-family: 'Oswald', serif;
    font-weight: bold;
    margin: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.seeMoreBtn {
    font-family: arial, serif;
    font-size: 1rem;
    background-color: #4E51BFFF;
    color: white;
    margin: 0 0 0 1rem;
    border-radius: 2rem;
}

.seeMoreBtn:hover {
    color: white;
    transform: translate(-0.5%, -0.5%);
    transition: all 0.2s ease-out;
    box-shadow: 0 0 5px grey;
}

/*carousel*/
.carousel-item {
    padding: 0 1.5%;
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/> </svg>');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml, <svg xmlns= "http://www.w3.org/2000/svg" width= "16" height= "16" fill= "currentColor" class= "bi bi-chevron-right" viewBox= "0 0 16 16" > <path fill-rule= "evenodd" d= "M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" /> </svg>');
}

.carousel-control-next, .carousel-control-prev {
    width: auto !important;
}

/*card*/
.card {
    width: 22%;
    margin: 2% 0 2% 2.35%;
    background-color: #EAEDED;
}

.card ul li {
    background-color: #EAEDED;
}

.card-image {
    border-bottom: 1px solid grey !important;
}

.card > .btn {
    background-color: #4e51bf !important;
}

.card p {
    color: black !important;
}

.card:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
    transform: translate(-0.5%, -0.5%);
    box-shadow: 0 0 7px grey;
    color: #4e51bf !important;
}

.card ul li .price {
    font-weight: bold;
}

/*footer*/
footer {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    background: #24252a;
    margin-top: 20px;
    color: whitesmoke;
    padding: 0.8rem 0 1rem 0;

}

.footer-container {
    padding: 0 20px;
    margin: 0 auto;
}

.itemsbm {
    margin-bottom: 1rem;
}

.itemsbm h3 {
    display: block;
    margin: 2rem 0 0.7rem 0;
    font-size: 22px;
    font-weight: bold;
}

.items h3 span {
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid white;
}

.itemsbm p {
    display: block;
    line-height: 1.6rem;
    margin: 0;
    font-size: 17px;
}

hr {
    opacity: .3;
}

/*x-small*/
@media (max-width: 576px) {
    .seeMoreBtn {
        padding: 0.1rem 0.5rem;
    }

    /*.card {*/
    /*    width: 90%;*/
    /*    margin: 0 5%;*/
    /*}*/
}

/*small*/
@media (min-width: 576px) {
    h2 {
        font-size: 2rem;
    }

    /*.card {*/
    /*    width: calc(538px / 2);*/
    /*}*/
}

/*medium*/
@media (min-width: 768px) {
    /*.card {*/
    /*    width: calc(718px / 3);*/
    /*}*/

    #productsBar {
        margin-top: 14vh !important;
    }
}

/*large*/
@media (min-width: 992px) {

    .searchBarNav {
        font-size: 1.3vm;
    }

    /*.card {*/
    /*    width: calc(958px / 4);*/
    /*}*/
}

/*x-large*/
@media (min-width: 1200px) {
    /*.card {*/
    /*    width: calc(1138px / 5);*/
    /*}*/

    #productsBar {
        margin-top: 10vh !important;
    }
}

/*xx-large*/
@media (min-width: 1400px) {
    .navButton {
        font-size: 1.1rem;
    }

    /*.card {*/
    /*    width: calc(1318px / 4);*/
    /*}*/
}